




.page, .popover__content, .checkbox {font-family: 'Indie Flower', cursive;}
.list {font-family: 'Indie Flower', cursive;}
.button {font-family: 'Indie Flower', cursive;}
.tabbar__label {font-family: 'Indie Flower', cursive;}



.page__background  {background: white !important;}


.page--full_bg__background {
   background: url("/img/logo.jpg") !important;
   background-size: cover !important;
   background-position: center center !important;
}

.button--transparent {
background:rgba(249,245,230,0.6);
}

.toolbar__left, .toolbar__center, .toolbar__right, .tabbar__button, .list-item  {background:rgba(249,245,230,0.6);}

.button--outline {background:rgba(249,245,230,0.6);}

.button--marginb20 {
margin-bottom:20px;
}

.loader {
display:none;
margin-top:170px;
}

.mood-item.active {background:rgba(37,166,217,0.5)}

.hidden {display:none}

.social_sharing {width:38px}