




.page, .popover__content, .checkbox, .list, .button, .tabbar__label {font-family: 'Indie Flower', cursive;}
.toolbar-button {color:rgb(183,183,183)}
@font-face {
font-family: "Indie Flower";
src: url("fonts/IndieFlower.ttf");
}

//.page__background  {background: white !important;}


.page--full_bg__background {
   background: url("../img/logo.jpg") !important;
   background-size: cover !important;
   background-position: center center !important;
}

.button--transparent {
background:rgba(249,245,230,0.6);
}

.img_preview {
width:33.2%;
background-color:black;
background-repeat: no-repeat;
background-position: center center;
background-size:cover;
}


//.tabbar, .toolbar {background-image:url("../img/stoff_bg.jpg");}
//.tabbar, .toolbar {background:rgba(255,249,203,1);}
//.tabbar--material__button {color:rgab(0,0,0,0.8)}

//.toolbar__left, .toolbar__center, .toolbar__right, .tabbar__button, .list-item  {background:rgba(249,245,230,0.6);}

.button--outline {background:rgba(255,255,255,0.6);
border-top-left-radius: 18px;
border-bottom-left-radius: 18px;
border-top-right-radius: 18px;
border-bottom-right-radius: 18px;
}

.button--light {background:rgba(255,255,255,0.8);
border-top-left-radius: 18px;
border-bottom-left-radius: 18px;
border-top-right-radius: 18px;
border-bottom-right-radius: 18px;
}

.button--marginb20 {
margin-bottom:20px;
}

.create_btn {width:45px}

.mood-item.active {background: rgba(81,152,219,1); color:white}

.hidden {display:none}

.social_sharing {width:38px}
.trainer_button {width:38px;color:rgb(255,204,0)}

@keyframes flickerAnimation {
  0%   { opacity:0.6; }
  25%  { opacity:0; }
  50% { opacity:0.6; }
  75% { opacity:0; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:0.6; }
  25%  { opacity:0; }
  50% { opacity:0.6; }
  75% { opacity:0; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:0.6; }
  25%  { opacity:0; }
  50% { opacity:0.6; }
  75% { opacity:0; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:0.6; }
  25%  { opacity:0; }
  50% { opacity:0.6; }
  75% { opacity:0; }
}
.loader {
position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
display:none;
width:200px;
   -webkit-animation: flickerAnimation 4s infinite;
   -moz-animation: flickerAnimation 4s infinite;
   -o-animation: flickerAnimation 4s infinite;
    animation: flickerAnimation 4s infinite;
}

.pixabay {background:rgba(255,255,255,0.8);padding:5px; position:absolute;bottom:55px;right:0px; z-index:4; border-top-left-radius: 5px; border-bottom-left-radius: 5px;}


.crop_image {position:absolute; top:0px; left:0px; z-index:10; width:100%;background:rgba(255,255,255,0.8);display: table;}
img {max-width: 100%;}
#image_to_crop {}

